<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.ACA" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-permission android:name="com.companyname.ACA.permission.MAPS_RECEIVE" />
	<uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
	<permission android:name="com.companyname.ACA.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAdPqCSz9X8oSuHWhds5NJayZz0koOneNU" />
	<!--<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />-->
	<application android:label="ACA.Android" android:icon="@drawable/logo"></application>
</manifest>